# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
MoodleQCM3.0.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/compiler.xml
