# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
MoodleQCM3.0.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/compiler.xml
target/Qcm/.DS_Store
target/.DS_Store
.DS_Store
target/.DS_Store
.DS_Store
*.class
.idea/workspace.xml
target/.DS_Store
.idea/workspace.xml
.idea/workspace.xml
target/.DS_Store
target/.DS_Store
.DS_Store
